#cuadrado1 {
    width: 150px;
    height: 150px;
    background-color: #800080;
}

#cuadrado2 {
    width: 150px;
    height: 150px;
    background-color: pink;
}

#cuadrado3 {
    width: 150px;
    height: 150px;
    background-color: green;
}

