<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/enadopcion">En Adopción</a></li>
        <li><a href="/adoptados">Adoptados</a></li>
        <li><a href="eventos">Eventos</a></li>
        <li><a href="contactanos">Contactanos</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
