.hero {
    background: url(../images/litter-of-kittens.jpg) no-repeat;
    background-size: cover;
    height: 85vh;
    color: white;
    text-align: right;   
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins';
    font-weight: 700;
}

.actividad {
    text-align: center;
    border: 5px solid #ffffff;
}

#nosotros {
    background-color: rgba(170,169,168, .11);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

h2 {
    font-size: 35px;
}

p {
    font-family: 'Inter';
}

.presentacion {
    background-color: lightgrey;
    opacity: 75%;
    color: black;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    place-items: center;

}

html {
    scroll-behavior: smooth;
}

#card-nosotros {
    border: 10px solid #ff8b40;
    border-radius: 10px;
}

button {
    font-family: 'Inter';
}

#navbarlayout {
    color:  white;
}

#contactanos {
    background-color: rgba(170,169,168, .11);
}

#visitanos {
    background-color: white;
}

