.hero {
    background: url(../images/litter-of-kittens.jpg) no-repeat;
    background-size: cover;
    height: 85vh;
    color: white;
    text-align: right;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins';
    font-weight: 700;
}

.actividad {
    text-align: center;
    border: 5px solid #ffffff;
}

#nosotros {
    background-color: rgba(170, 169, 168, .11);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

h2 {
    font-size: 35px;
}

p {
    font-family: 'Inter';
}

.presentacion {
    color: white;
    padding: 10px;
    display: grid;
    place-items: center;
    font-weight: 700;
    font-size: 19px;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}


html {
    scroll-behavior: smooth;
}

#card-nosotros {
    border: 10px solid #ff8b40;
    border-radius: 10px;
}

button {
    font-family: 'Inter';
}


#contactanos {
    background-color: rgba(170, 169, 168, .11);
}

#visitanos {
    background-color: white;
}

.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-novedades li {
    margin: 5px 0;
    display: flex; 
    align-items: center; 
}

.lista-novedades li a {
    background-color: #fff;
    font-family: 'Inter';
    text-decoration: none;
    font-size: 18px;
    color: #a0a0a0;
    transition: all .2s ease-in-out;
    display: flex; 
    align-items: center; 
}

.lista-novedades li a:hover {
    color: #212529;
    background-color: #dadada;
    padding-left: 15px;
    padding-right: 50px;
}

.lista-novedades li a img {
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.8;
    vertical-align: middle;
}

.lista-novedades li a:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}

body {
    overflow-x: hidden;
}



