<form >
  <div class="col-md-5" style="margin: 20px">
    <label for="usuario" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="usuario" name="usuario">
  </div>
  <div class="col-md-5" style="margin: 20px">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top: 5px; margin-left: 20px;">Enviar</button>
</form>
{{#if error}}
    <p>Usuario o contraseña incorrectos.</p>
{{/if}}

